<%-include("header")-%>

<div class="container">
    <div class="card-container">
    <% products.forEach(function(product){ %>
            <div id="card" class="card mb-3">
            <img src="<%= product.img%>" alt="<%= product.name%>">
            <a href="/product/<%-product._id%>">
                <div class="card-body">
                    <p class="card-text"><%= product.cost %></p>
                    <p class="card-text"><%= product.name %></p>
                </div>
            </a>
            </div>
    <%})%>
    </div>
</div>

    <%#<div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> %>
</div>


<%-include("footer")-%>