<%-include("header")-%>

<div class="prod-title"> 
    <h1><%= prodName %></h1>
</div>

<div class="prod-container">
    <img class="prod-img" src="<%= prodImg %>" alt="<%= prodName %>">

    <div class="prod-desc">
        <p><%= prodCost %></p>
        <p><%= prodRating %></p>
        <button class="btn btn-lg btn-light" type="button">
            Add to cart <i class="fas fa-shopping-cart"></i>
        </button>
    </div>
</div>

<%-include("footer")-%>