<%-include("header")-%>

<header> 
<h1><%= prodName %></h1>
<hr>
</header>

<div class="container">
    <div class="card-container">
        <div class="flex-container">
            <div class="card mb-3">
            <img src="<%= prodImg%>" alt="<%= prodName%>">
                <div class="card-body">
                    <p class="card-text"><%= prodCost %></p>
                    <p class="card-text"><%= prodName %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include("footer")-%>